.home-page {
  height: 100vh;
  /* background-color: rgb(235, 143, 154); */
  background-image: url("../img/bg3.jpg");
  background-position: center center;
  background-size: cover;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  height: 70px;
}
header .nav-link {
  color: #fff;
}
header .nav-link:hover {
  color: #fff;
}
/* .content-1 {
  height: calc(100vh - 70px);
} */
.mybtn {
  width: 170px;
  height: 45px;
  color: white;
  background-color: #50c5bb;
  font-size: 14px;
  border: none;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.content-1 h1 {
  font-size: 70px;
  color: white;
  font-weight: 700;
}
.img-box-1 {
  width: 100%;
  height: 80%;
}
.page-2 {
  background-color: #f7f5f2;
}
.img-box-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.text-box {
  text-align: right;
}
.page-3 {
  background-color: #fff;
}
.tbox-3 {
  width: 50%;
}
.tbox-3 h2 {
  font-weight: 600;
}
.img-box-2 {
  width: 250px;
  height: 250px;
}
.img-box-2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner {
  height: 30vh;
  background-image: linear-gradient(to right top, #4c3f69 0%, #fbc2eb 100%);
}
.banner span {
  color: #fff;
  font-size: 50px;
  text-align: center;
}
.blog {
  height: 70vh;
  background-color: #f6f5f1;
}
.text-box4 {
  height: 50vh;
  width: 80%;
}
.text-box4 h2 {
  font-weight: 600;
}
